body{
    background-image: url(key7.jpg);
    background-size: 100% 80%;
    background-repeat: round;
}

.profile{
    height: 250px;
    
}
 
.text{
    color:white;
}

.ref{
    color:aqua
}



